<div class="container">
  <div class="row p-3">
    <div class="col-md-3">

<%= render 'books/list.html.erb', book: @book %>

</div>

<div class="col-md-8 offset-md-1">

<h1>Users</h1>
    <table class="table">
    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(80,80) %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user.id)%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  </div>
</div>