<main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
    	
  		<form action="/books/52927" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" autocomplete="off"><input type="hidden" name="authenticity_token" value="lbd3ZxCYa3q8cQjrDmeX2J1xbwEfl_yO5mFH7mewW32GA2NpPU90iyZ0O015OOEPAJ4lTPiA9L0qmv4h80WlIQ" autocomplete="off">
  <div class="form-group">
    <label for="book_title">Title</label>
    <input class="form-control book_title" type="text" value="テスト投稿２" name="book[title]" id="book_title">
  </div>
  <div class="form-group">
    <label for="book_opinion">Opinion</label>
    <textarea class="form-control book_body" name="book[body]" id="book_body">テスト投稿２</textarea>
  </div>
  <div class="form-group">
    <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
  </div>
</form>
  		<a class="book_52927" href="/books/52927">Show</a> |
  		<a class="back" href="/books">Back</a>
  </div>
</div>
      </div></main>